<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>

	<%= link_to "Home", root_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Contact", contact_path %>   
    <%= link_to "Sign in", signup_path %>

    <%= yield %>
  </body>
</html>